.home-page{
    padding-top: 70px !important;
}

.home-page:before {
     background-image: url("../../templates/remark/images/lockscreen.jpg"); 
 }
 
 .home-page-title {
	color: #fff;
	text-shadow: rgba(0,0,0,.15) 0 0 1px;
	font-family: Roboto,sans-serif;
	font-size: 32px;
	margin-bottom: 40px;
}

.home-page-btn-links{
    margin: 3px;
}

.home-page-links-speed{
	color: #FFF;
	font-size: 14px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.home-page-input {
    width: 561px;
    margin: auto;
}

 .home-page-list{
 	color: #999;
    font-size: 11px;
    cursor: pointer;
 }
 
 .home-page-list-produtos{
    border-top: 3px solid #F44336;
 }

 .home-page-list-produtos li:hover{
    color:#F44336;
 }

 .home-page-list-cidades{
    border-top: 3px solid #3F51B5;
 }
 .home-page-list-cidades li:hover{
    color:#3F51B5;
 }

 .home-page-list-cenario{
    border-top: 3px solid #fe9700;
 }

 .home-page-list-cenario li:hover{
    color:#fe9700;
 }

 .home-page-tile-painel-center {
 	 border-bottom: 3px solid #4CAF50;
 	 margin-bottom: 15px;
 }